<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="speed" value="7" />
    <add key="logfilelocation" value="abc.txt" />
    <add key="numberwalls" value="2" />
    <add key="coordinates" value="-150,-200,-50,-100, 50,0,150,200" />
    <add key="start" value="450, 0" />
    <add key="goal" value="-500, 0" />
    <add key="motorforce" value="10" />
    <add key="friction" value="5" />
    <add key="robotweigth" value="100" />
    <add key="robotmaxspeed" value="4" />

  </appSettings>
</configuration>